*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  box-shadow: 20px 5px 25px 16px #f2f7fc;
}
.btn-logout{
  background-color: #83b3c0;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
}
.btn-logout:hover{
  transition: .5s ease-in-out;
  background-color: #f2f7fc;
  color: #2c2c2c;
}

