@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  box-shadow: 20px 5px 25px 16px #f2f7fc;
}
#logo{
  font-family: 'Inter' sans-serif !important;
  font-weight: 500 !important;
  color: #2c2c2c !important;
}
.nav-link{
  font-family: 'Inter' sans-serif !important;
  font-size: 15px;

}
.nav-link:focus{
  transition: .5s ease !important;
  color: #83b3c0 !important;
}
.btn-logout{
  background-color: #83b3c0;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
}
.btn-logout:hover{
  transition: .5s ease-in-out;
  background-color: #f2f7fc;
  color: #2c2c2c;
}
.login{
  height: 60vh !important;
  background-color: #f2f7fc;
  width: 40%;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
} 
#log{
  background-color: #fff;
  height: 100vh;
  align-items: center;
}
.form-control{
  width: 85%;
  border-radius: none !important;
  border: none !important;
  border-bottom: 1.5px solid #83b3c0 !important;
  margin-bottom: 10px;
  background: none !important;
  font-size: 14px;
}
.form-control:focus{
  background: none;
  outline: none !important;
  border:none !important;
}
.login-title{
  margin-bottom:25px !important;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold !important;
  text-transform: lowercase;

}
.btn-login{
  margin-top: 5%;
  width: 85%;
  background-color: #83b3c0 !important;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-login:hover{
  transition: .5s ease-in-out;
  background-color: #143451 !important;
  /* background-color: #489FB5 !important; alternate color*/
  /* color: #2c2c2c; */
  color: #fff;
}
.footer-copyright-login{
  font-size: 12px;
  margin-top: 15%;
}

.test{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}